<html class="html-color" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <script src="./mobile-util.js"></script>
		<meta content="telephone=no,email=no" name="format-detection">
    </head>
    <body class="viewport">
        <div id="content" class="viewport"></div>
    </body>
</html>
